body {
    background-color: #F9FAFC;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}


.bg-light-orange {
    background:#ff9900 90%;
}
  

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.course-link {
    text-decoration: none;
    color: #445261;
}

.course-link:hover,
.page-link {
    color: black;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    color: #DE5935;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.hero-image {
    background-image: url('https://res.cloudinary.com/dxfpmk5ir/image/upload/v1696064332/static/images/pexels-julia-m-cameron-4144144.2928b67c6944.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh; /* Adjust the height as needed */
}

.hero-content {
    padding: 100px; /* Adjust the padding as needed */
    text-align: center;
    color: white;
}

.hero-content h1, .hero-content p {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: 500;
}

.bg-cyan {
    background-color: #5AC3B0;
}

.bg-dark-yellow {
    background-color: #F7CD46;
}

.rouge {
    color: #DE5935;
}

.course-item-card {
    border: 1px solid #DE5935;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.course-item-card:hover {
    transform: scale(1.05);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.user-info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.label {
    font-weight: bold;
    text-align: right;
}