<div class="row">
    <div class="col-md-8 card mb-4  mt-3 ">
        <h3>Topics</h3>
        <div class="card-body">
            <!-- We want a for loop inside the tags to iterate through each comment in comments -->
            {% for topic in topics %}
            <div class="comments" style="padding: 10px;">
                <p class="font-weight-bold">
                    <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                    <a href="{% url 'topic_detail' course_slug=course.slug unit_slug=unit.slug topic_slug=topic.slug %}">{{ topic.title }}</a>
                    <span class=" text-muted font-weight-normal">
                        <!-- The comment's created date goes here -->
                        
                    </span>
                </p>
                <!-- The body of the comment goes before the | -->
                
            </div>
            <!-- Our for loop ends here -->
            {% endfor %}
        </div>
    </div>
    <div class="col-md-4 card mb-4  mt-3 ">
        <div class="card-body">
            <!-- For later -->
        </div>
    </div>
</div>