<h2 class="text-center">Topics</h2>
<div class="row">
    <div class=" card mb-4 mt-3">
        <div class="row">
            <div class="col-12 text-center">
                {% if request.user.id == course.author.id %}
                <a href="{% url 'add_topic' course.slug unit.slug %}" class="btn btn-primary">Add Topic</a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 mt-3 left">
            <div class="row">
            {%for topic in topics %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body text-center course-item-card">
                            <a href="{% url 'topic_detail' course_slug=course.slug unit_slug=unit.slug topic_slug=topic.slug %}">
                                <h2 class="card-title">Topic {{ topic.number }}: {{ topic.title }}</h2>
                            </a>
                        </div>
                    </div>
                </div>
            {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
            {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
</div>