<h2 class="text-center">Topics</h2>
<div class="row">
    <div class="col-md-8 card mb-4  mt-3 ">
        <div class="card-body">
            <!-- We want a for loop inside the tags to iterate through each comment in comments -->
            {% if user.is_authenticated %}
            {% for topic in topics %}
            <div class="comments text" style="padding: 10px;">
                <a href="{% url 'topic_detail' course_slug=course.slug unit_slug=unit.slug topic_slug=topic.slug %}">{{ topic.title }}</a>
            </div>
            <!-- Our for loop ends here -->
            {% endfor %}
            {% else %}
            <p>You do not have permission to view this topic list. Please <a href="/profile/login/">log in</a> or 
                <a href="/profile/signup/">sign up</a> if you do not have an account.</p>
            {% endif %}
        </div>
    </div>
    <div class="col-md-4 card mb-4  mt-3 ">
        <div class="card-body">
            <!-- For later -->
        </div>
    </div>
</div>