{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="text-center mt-3 mb-3">{{ topic.title }}</h1>
    {% if user == topic.unit.course.author %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <a href="{% url 'edit_topic' course_slug=course.slug unit_slug=unit.slug topic_slug=topic.slug %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'delete_topic' course_slug=topic.unit.course.slug unit_slug=topic.unit.slug topic_slug=topic.slug %}" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
    {% endif %}
    <br>
    {{ topic.content | safe }}
    <!--<a href="{% url 'quiz' course_slug=course.slug unit_slug=unit.slug topic_slug=topic.slug %}" class="btn btn-primary">Take Quiz</a>-->
</div>
{% endblock %}