<h2 class="text-center">Units</h2>
<div class="row">
    <div class="col-md-8 card mb-4  mt-3 ">
        <a href="{% url 'add_unit' course.slug %}" class="btn btn-primary">Add Unit</a>
        <div class="card-body">
            <!-- We want a for loop inside the tags to iterate through each comment in comments -->
            {% for unit in units %}
            <div class="comments text" style="padding: 10px;">
                <a href="{% url 'unit_detail' course_slug=course.slug unit_slug=unit.slug %}">{{ unit.title }}</a>
            </div>
            <!-- Our for loop ends here -->
            {% endfor %}
        </div>
    </div>
    <div class="col-md-4 card mb-4  mt-3 ">
        <div class="card-body">
            <!-- For later -->
        </div>
    </div>
</div>