{% extends "base.html" %}

{% block content %}
    <h2>Profile Information</h2>
    <table>
        <tr>
            <th>Username:</th>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <th>Display Name:</th>
            <td>{{ user.customuser.display_name }}</td>
        </tr>
        <tr>
            <th>Account Type:</th>
            <td>{{ user.customuser.get_account_type_display }}</td>
        </tr>
    </table>
    <a href="{% url 'profile_update' %}">Edit Profile</a>
{% endblock %}